/*搜索输入框*/
.s-search-input {
    width: 160px;
}

.search{
    margin-top: -6px;
    display: flex;
    flex-flow: row wrap;
    align-content: start;
}

/* 搜索框间隔样式 */
.search > .el-button{
    margin-left: 0;
}
.search > * {
    margin-right: 10px;
    margin-bottom: 10px;
}

.table-pagination {
    position: relative;
    float: right;
    margin: 10px 0 10px 0;
}


