/*搜索输入框*/
.s-search-input {
    width: 160px;
}

.search{
    margin-top: -6px;
    margin-bottom: 10px;
}

/* 搜索框间隔样式 */
.search > span {
    margin-right: 10px;
}

.table-pagination {
    position: relative;
    float: right;
    margin: 10px 0 10px 0;
}


