/**
    表格相关
 */
.table-search span {
    margin-right: 12px;
}

.table-header {
    margin-top: 10px;
}

.table-header > span {
    margin-right: 10px;
}

.table-content {
    margin-top: 10px;
}

/*搜索输入框*/
.s-search-input {
    width: 160px;
}

/*搜索日期框*/
.s-search-date {
    width: 350px;
}

/*分页插件*/
.s-table-pagination {
    margin-top: 10px;
    text-align: right;
}


