.dark {
    --backgroud-color: #141414;
    --login-bg-image: url('@/assets/img/login-bg-dark.svg');
    --login-title-color: #ffffff;
    --login-bg-color: rgba(16, 16, 16, 0.3);
    --login-form-color: #191919;
    --login-form-shadow: rgba(99, 99, 99, 0.5);

    --layout-backgroud-color: rgb(16, 16, 16);
    --menu-backgroud-color: rgb(16, 16, 16);

    --put-away-menu-icon: url('@/assets/img/put-away-menu-dark.svg');
    --expand-menu-icon: url('@/assets/img/expand-menu-dark.svg');
    --header-menu-hover-color: rgb(68, 68, 68);
}