:root {
    --backgroud-color: #ffffff;
    --login-bg-image: url('@/assets/img/login-bg.svg');
    --login-bg-color: rgba(233, 235, 237, 0.3);
    --login-title-color: #000000;
    --login-form-color: rgb(255, 255, 255);
    --login-form-shadow: rgba(99, 99, 99, 0.5);

    --layout-backgroud-color: rgb(255, 255, 255);
    --menu-backgroud-color: rgb(255, 255, 255);

    --put-away-menu-icon: url('@/assets/img/put-away-menu.svg');
    --expand-menu-icon: url('@/assets/img/expand-menu.svg');
    --header-menu-hover-color: rgb(230, 230, 230);
    --full-screen-icon: url('@/assets/img/full-screen.svg');
    --exit-full-screen-icon: url('@/assets/img/exit-full-screen.svg');
    --layout-size-icon:url('@/assets/img/layout-size.svg');
}